<h1>About</h1>
<p style="font-size: 20px">
  Welcome to my blog! I'm Michela and I'm a developer. I built this blog from
  scratch to share what I consider to be the most interesting posts about the
  programming world.
</p>
