<div class="author">
  <h1 class="author__heading">Hi, I am Michela.</h1>
  <p class="author__body">Web developer</p>
</div>

<img
  src="/img/hero-image.jpg"
  alt="desk with a laptop"
  class="hero-image"
  width="900"
  height="528"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>
  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="articles-list__date"></span>
      </a>
    </li>
  </ul>
  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
